*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width:1200px;
  min-width: 500px;
  height: 100vh;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: aquamarine;
}

img{
  max-width: 585px;
  max-height: 585px;
}

.content{
  width: 380px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 80px;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 32px;
}